<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <include resource="org/springframework/boot/logging/logback/base.xml"/>
    <logger name="org.springframework.web" level="DEBUG"/>

    <appender name="FILE" class="ch.qos.logback.core.FileAppender">
        <file>logs/ffkr-article.log</file>
        <append>true</append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>

    <appender name="CRAWLER_LOG" class="ch.qos.logback.core.FileAppender">
        <file>logs/loaded.log</file>
        <append>true</append>
        <encoder>
            <charset>UTF-8</charset>
            <pattern>%-4relative [%thread] %-5level %logger{35} - %msg%n</pattern>
        </encoder>
    </appender>


    <logger name="ua.vn.ffkr.article" level="DEBUG">
        <appender-ref ref="FILE" />
    </logger>

    <logger name="ua.vn.ffkr.article.crawler" level="INFO">
        <appender-ref ref="CRAWLER_LOG" />
    </logger>

    <root level="INFO">
        <appender-ref ref="FILE" />
        <appender-ref ref="CONSOLE" />
    </root>

</configuration>